/* Immagine Card list mini  */
.container img {
  width: 150px;
}

.cardlist {
  min-height: 180px;
}

/* Container dei filtri */

.containerfilter {
  width: 200px;
}
.custom-tooltip {
  background-color: #1b152c;
  color: #fadb7f;
}
