/* Immagine Card list mini  */
.container img {
  width: 150px;
}

.cardlist {
  margin: 0 auto;
  width: 70%;
}

/* Container dei filtri */

.containerfilter {
  width: 200px;
  margin-top: 80px;
  padding-left: 10px;
}
